// ------------------------------------
// Variables
// ------------------------------------
$headerShadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
$offWhite: #f8f8f8;
$darkGrey: #121212;

$primary: #1F88BB;
$secondary: darken($primary, 10%);
$tertiary: #FF4E20;

