@import "./vendor/pure-scss/pure-min";
@import "./vendor/pure-scss/grids-responsive-min";
@import "shadows";

@import "base";

.landing {
    background-position: center left;
    background-size: cover;
    color: #fff;
    height: 100vh;
    width: 100vw;
    text-align: center;

    .darken {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h2 {
        font-size: 2em;
        text-shadow: $headerShadow;
    }

    h1 {
        text-shadow: $headerShadow;
        margin-top: 3vh;
        letter-spacing: 0.1em;
        font-size: 3em;
    }

    h3 {
        margin-bottom: 2vh;
    }
}

#mc_embed_signup {
    margin-top: 10vh;
}

#services {
    margin-bottom: 0;
    display: flex;
    justify-content: center;

    .pure-g {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-flow: column;
        margin: 0 auto;
    }

    i  {
        text-align: center;
        display: block;
        margin: 1.5vh auto;
        font-size: 7em;
        color: $primary;
    }

    p {
        padding: 5px;
    }
}

#map {
    background-attachment: fixed;
    background-position: center left;
    background-size: cover;

    flex-flow: column;
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 70vh;
}

#contact {
    h1 {
        margin: 0;
        padding: 5vh 0;
        background-color: $primary;
        color: #fff;
        text-shadow: $headerShadow;
    }

    .hours, .info {
        padding: 5vh 0;
        min-height: 22vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3, p {
            text-align: center;
        }

        p {
            padding: 0 30px;
        }

        .pure-table td {
            padding: .5em 10px;
        }

        h3 {
            padding-bottom: 2vh;
        }
    }

    .hours {

    }

    .info {
        a {
            margin-top: 10px;

            i {
                margin-right: 10px;
            }
        }
    }
}

#about {
    background-color: $offWhite;
    color: $darkGrey;

    h1 {
        margin: 0;
        padding: 5vh 0;
        // text-shadow: $headerShadow;
    }

     p {
        display: block;
        margin: 0 auto 5vh;
        width: 90vw;
    }
}

footer {
    height: 10vh;
    background-color: $darkGrey;
    display: flex!important;
    justify-content: center;
    align-items: center;
    color: #fff;

    .social-wrap {
        @extend .z-depth-1;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        font-size: 2em;
        color: #fff;

        transition: all 200ms ease;
        &:hover {
            @extend .z-depth-3;
        }
    }

    .facebook {
        background-color: #3b5998;
    }

    .google {
        background-color: #db3236;
    }

    .yelp {
        background-color: #c41200;
    }
}

// pure-xl
@media screen and (min-width: 80em) {

}

//pure-lg
@media screen and (min-width: 64em) {

}

// pure-md
@media screen and (min-width: 48em) {
    .landing {
        height: 75vh;
        background-position: center center;
        h1 {
            font-size: 4em;
        }
    }

    #services {
        .pure-g {
            flex-flow: row nowrap;
            justify-content: space-between;
            width: 90vw;
            margin: 0 auto;
        }
    }

    #map {
        flex-flow: row;
        justify-content: center;
        align-items: center;

        min-height: 70vh;

        &>div:first-of-type {
            margin-right: 5vw;
        }
    }

    #about p {
        width: 50vw;
    }
}

// pure-sm
@media screen and (min-width: 35.5em) {

}
