@import "../../styles/base";

.landing {
    background-position: center center;
    background-size: cover;
    color: #fff;
    height: 100vh;
    width: 100vw;

    .darken {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        text-shadow: $headerShadow;
        margin-bottom: 10vh;
        letter-spacing: 0.1em;
        font-size: 3em;
    }

    h2 {
        letter-spacing: 0.1em;
        margin-bottom: 2vh;
    }
}


.form-wrap {
    justify-content: center;
}

