@import "../../styles/variables";

.mc_embed_signup {
    clear:left;
    width:100%;

    label, h1, h2 {
        letter-spacing: 0.1em;
    }
}

.mc_embed_signup_scroll {
    margin: 0 auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        margin-top: 2vh;
    }

    .button-primary {
        background-color: $primary!important;
        min-height: 100%;
        text-align: center;
    }

    form {
        color: $darkGrey;

    }
}

// pure-md
@media screen and (min-width: 48em) {
    .mc_embed_signup_scroll {
        width: 70vw;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

        input {
            margin-top: 0;
            margin-right: 5px;
        }
    }
}
